body {
  text-align: center;
  margin: 0;
  font-family: 'arial', sans-serif;
}

h1 {
  color: #28b5b5;
  font-size: 3rem;
  font-family: 'Zen Dots', cursive;
  padding-top: 50px;
}

h2 {
  font-weight: bold;
  color: #28b5b5;
  font-family: 'Zen Dots', cursive;
}

h3 {
  color: #28b5b5;
  font-family: 'Zen Dots', cursive;
}

.top {
  background-color: #325288;
  position: relative;
  padding-top: 60px;
}

.middle {
  background-color: #f4eee8;
}

.bottom {
  background-color: #f5cebe;
}

.pro {
  color: #fb3640;
  font-size: 30px;
}

.title {
  text-decoration: underline;
  font-size: 24px;
  color: #fdca40;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.bCloud {
  position: absolute;
  top: 250px;
  left: 350px;
}

.java {
  width: 25%;
  height: 25%;
  margin: 0 30px;
  float: left;
}

.computer {
  border-radius: 60%;
  width: 25%;
  height: 20%;
  margin-left: 20px;
  float: right;
}

.tCloud {
  position: absolute;
  top: 40px;
  left: 900px;
}

.profile-pic {
  border-radius: 60%;
  height: 250px;
  width: 220px;
}
